.sidebar-component {
  background-image: url("../../../../assets/img/side-nav.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  background-color: #c9ff58;
  border-radius: 10px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
}
