<nav>
  <div class="flex flex-wrap items-center justify-between mx-10">
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="../../../../assets/svg/sidebar-right.svg"
        alt="toggle"
        class="cursor-pointer"
        (click)="onToggleClick()"
        [ngClass]="{ 'rotate-180': isOpen }"
        [@rotateIcon]="isOpen ? 'open' : 'closed'"
      />
      <img
        src="../../../../assets/img/playze.svg"
        class="h-100"
        alt="Playze Logo"
      />
    </div>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative"
    >
      <button
        (click)="toggleDropdown()"
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <span class="sr-only">Open user menu</span>
        <img
          class="w-full h-full rounded-full"
          src="../../../../assets/img/person-40.svg"
          alt="user photo"
        />
      </button>
      <div
        [class.hidden]="!isDropdownOpen"
        class="absolute right-0 top-full min-w-60 z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">{{
            this._authService.fullName()
          }}</span>
          <span
            class="block text-sm text-gray-500 truncate dark:text-gray-400"
            >{{ this._authService.email() }}</span
          >
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li (click)="logout()" class="cursor-pointer">
            <p
              class="block px-4 py-2 mb-no text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >
              Sign out
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
