<div class="dash-component bg-[#121212] p-8 border border-[#caff5881] rounded">
  <div class="max-w-[1000px] mx-auto">
    <div class="news-des-title bg-[#1B1B1B] p-4 rounded-lg">
      <h1 class="text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h1>
      <div class="mt-2">
        <span class="timestamp text-[0.875rem] text-[#9ca3af]"
          >Added 20h ago</span
        >
      </div>
      <div class="mt-4">
        <span class="news-category news-category-freebies">Subscription</span>
      </div>
    </div>
    <div class="photo-container h-80 my-3">
      <img
        src="../../../assets/img/test.png"
        class="w-full h-full object-cover rounded-lg"
        alt="Game preview"
      />
    </div>
    <div class="main-content-container bg-[#1B1B1B] p-8 rounded-lg">
      <h1 class="text-xl border-l-4 ps-4 mb-8 border-[#97ff10]">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut doloremque
        omnis harum eum molestias debitis.
      </h1>
      <div class="content-html text-[#9ca3af]">
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea
          numquam eum repudiandae nam, labore dignissimos dolor consequatur
          facere iusto tempore minima pariatur sapiente tenetur veniam,
          consectetur voluptas placeat libero!
        </p>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
          repudiandae possimus quia fugit odio nobis facere ad dignissimos
          voluptates doloremque, maiores saepe veritatis rem at sapiente
          molestiae molestias eligendi. Aspernatur. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Non repudiandae possimus quia fugit odio
          nobis facere ad dignissimos voluptates doloremque, maiores saepe
          veritatis rem at sapiente molestiae molestias eligendi. Aspernatur.
        </p>
      </div>
    </div>
  </div>
</div>
