@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
  font-family: "Jura", sans-serif !important;
}

body, html {
  font-optical-sizing: auto;
  background-image: url('./assets/img/homePage.svg');
}

.mb-no {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #c9ff58;
  border-radius: 10px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
}
