@tailwind base;
@tailwind components;
@tailwind utilities;
@import "custom-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  font-family: "Jura", sans-serif !important;
  box-sizing: border-box;
}

body,
html {
  font-optical-sizing: auto;
  background-image: url("./assets/img/homePage.svg");
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  overflow: hidden;
}

.mb-no {
  margin-bottom: 0 !important;
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px; /* Adjust for thinness */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Background color of the scrollbar track */
  border-radius: 10px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #c9ff58; /* Blue color for the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c9ff58; /* Darker blue on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(#c9ff58, 0.8) #1a1a1a;
}

.dash-component {
  height: calc(100vh - 9.72rem);
  overflow-y: auto;
}

// News Category Styles
.news-category {
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;

  &-bundles {
    background: rgba(71, 154, 251, 0.2);
    border: 1px solid #479afb;
  }

  &-freebies {
    background: rgba(162, 71, 251, 0.2);
    border: 1px solid #a247fb;
  }
}
